<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardMapper">
    
    <select id="selectListAll" resultType="Board">
        select * from board
    </select>

    <select id="selectid" resultType="Board">
        select * from board where id=#{id}
    </select>

    <insert id="insert" parameterType="Board">
        insert into Board(id, title, content, creationtime, updatetime)
        values(Board_id_SEQ.nextval, #{title}, #{content}, sysdate, sysdate)
    </insert>

    <delete id="delete" parameterType="int">
        DELETE from Board where id=#{id}
    </delete>

    <update id="update" parameterType="Board">
        UPDATE Board SET title=#{title}, content=#{content} where id=#{id}
    </update>

</mapper>